<table id="score"><tr>
  <th><h4>Hello <%=session[:player_name]%>. Good luck!</h4></th>
  <th><h4>  SCORE  </h4></th>
  <th><%=session[:player_name]%>: <%=session[:player_score]%> | Dealer: <%=session[:dealer_score]%></th>
</tr></table>
<br>
<% if @dealer_turn %>
  <h5> Dealer's cards are: </h5>
  <% session[:dealer_cards].each do |card| %>
    <%=visualize_card(card)%>
  <% end %>
  <br/>
  <br/>
  Dealer's total is <%=calculate_total(session[:dealer_cards])%>.
<% else %>
  <h5>Dealer's cards are: </h5>
  <%=visualize_card(session[:dealer_cards].first)%>
  <img id="card_cover" src = '/images/cards/cover.jpg'>
<% end %>
<br>
<br>
<h5><%=session[:player_name]%>'s cards are:</h5>
<%session[:player_cards].each do |card| %>
  <%=visualize_card(card)%>
<% end %>
<br/>
<br/>
<%=session[:player_name]%>'s total is <%=calculate_total(session[:player_cards])%>.
